* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

p,
div,
ul,
li {
  font: inherit;
  margin: 0;
  padding: 0;
}

/* ................ */
body {
  background-color: goldenrod;
  margin: 0;
  padding: 0;
}

input {
  display: none;
}

/* slider */

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: black;
  max-width: 60em;
  padding: 4em 4em 0 4em;
  border-radius: 1.5em;
  margin: 2em;
}

.imgs__wrapper {
  width: 100%;
  overflow: hidden;
}

.imgs__list {
  display: flex;
  width: 100%;
  transition: all 0.8s ease;
}

.imgs__list-item {
  flex-shrink: 0;
  width: 100%;
}

.imgs__item {
}

.optional {
}

.labels-list {
}

.labels__list-item {
}

.labels__item {
}

.text {
}

.text__wrapper {
}

.text__content {
}
